<div class="notification is-warning is-light">
  <div class="columns">
    <div class="column logo is-4">
      <div class="image">
        <img src="assets/images/headerimage.png" title="Imagen">
      </div>
    </div>
    <div class="column is-flex is-align-items-center is-6">
      <div class="contenedorFree">
        <h2 class="title">$0 delivery for 30 days!</h2>
        <p>$0 delivery free for orders over $10 for 30 days</p>
      </div>
      <img class="imgFree" src="assets/images/d.png">
    </div>
    <div class="column is-flex is-align-items-end is-2">
      <button class="button is-warning is-light">
        <span>Learn more</span>
        <span class="icon">
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </button>
    </div>
  </div>
</div>
