<div>
  <div class="usuario">
    <i class="fa-regular fa-user"></i>
    <span class="badge"><b>3</b></span>
  </div>
  <div class="time">
    <p class="title">My 😎 <br> Order</p>
    <span class="notification column is-11 is-offset-1">
      <div class="is-flex is-justify-content-space-between is-align-items-center">
        <span *ngIf="!editar" class="has-text-white">{{direccion}}</span>
        <input *ngIf="editar" [(ngModel)]="direccion" type="text">
        <button (click)="edit()" class="button">Edit</button>
      </div>
      <div class="mt-4 is-flex is-justify-content-space-between is-align-items-center">
        <i class=" reloj fa-regular fa-clock"></i>
        <span *ngIf="!choose"></span>
        <input *ngIf="choose"  type="text">
        <button (click)="time()" class="button">Choose Time</button>
      </div>
    </span>
  </div>
</div>
