<div class="orden">
  <div class="columns" *ngFor="let comida of productos; let i = index">
    <div class="column is-4">
      <img class="platos" [src]="comida.image">
    </div>
    <div class="column is-4">
      <p class="name-producto"><b>{{comida.name}}</b></p>
    </div>
    <div class="column is-4">
      <p>${{comida.price*(comida.cantidad || 0)}}</p>
      <div class="contador">
        <button title="Restar" [disabled]="comida.cantidad<=1" (click)="resta(i)" class="pluss has-background-grey-lighter"><i class="fa-solid fa-minus"></i></button>
        <span>{{comida.cantidad}}</span>
        <button title="Sumar" (click)="suma(i)" class="pluss has-background-grey-lighter"><i class="fa-solid fa-plus"></i></button>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4">
      <img src="assets/images/delivery.png" alt="">
    </div>
    <div class="column is-4">
      <p><b>Delivery</b></p>
    </div>
    <div class="column is-4">
      <p>$0.00</p>
    </div>
  </div>
  <div class="subtitle">
   <h3>Total</h3>
    <h2 class="costo"><b>${{total}}</b></h2>
  </div>
</div>
