<div class="container">
  <div class="columns">
    <div class="column is-one-third titulo">
      <div>
        <button class="ocultar"><i class="lineas fa-solid fa-grip-lines"></i></button>
      </div>
      <div>
        <h1 class="title">Chukwudi</h1>
      </div>
    </div>
    <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Seacrh">
            <span class="icon is-small is-left">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </p>
        </div>
    </div>
  </div>
</div>
